# Copy to .env and adjust for your environment.
# cp .env.example .env

# Set log to debug to enable RPC retry messages
LOG=log

SOL_HTTPS=https://api.mainnet-beta.solana.com
SOL_WSS=wss://api.mainnet-beta.solana.com

# Throttle HTTP getTransaction calls
RPC_MIN_INTERVAL_MS=250
RPC_FETCH_QUEUE_SIZE=256

LOG_INSTRUCTION=initialize2

RAYDIUM_LPV4=675kPX9MHTjS2zt1qfr1NYHuzeLXfQM9H24wFSUt1Mp8

WATCH_RAYDIUM_AMM=true
WATCH_RAYDIUM_CPMM=true

RAYDIUM_CPMM=CPMMoo8L3F4NbTegBCKVNunggL7H1ZpdTHKxQB5qKP1C

# Must match end of log line
CPMM_LOG_INSTRUCTION=Instruction: Initialize
